@model Student
@{
    Layout = "_Layout2";
    ViewBag.Title = "Student Create";

}


    <h1 class="alert alert-danger"> Adding Student</h1>
    <form action="/student/create" method="post">
        <label for="name">Full Name</label><input asp-for="Name" /> <span asp-validation-for="Name"></span><br />
        <label for="age">age</label><input asp-for="Age" /><span asp-validation-for="Age"></span><br />
        <label for="deptno">department</label>
        <select asp-for="FK_DeptID" asp-items="ViewBag.depts">
        </select>

        <br />

        <input type="submit" value="add" class="btn btn-success" />
    </form>
	<script src="~/lib/jquery/dist/jquery.js"></script>

