@model Student
@{
	Layout = "_Layout2";
	ViewBag.Title = "Student Details";

}


	<h1 class="alert alert-danger">
		Id: @Model.Id <br />
		Name: @Model.Name <br />
		Age: @Model.Age <br />
		Department:  @Model.FK_DeptID

	</h1>
