@model Department
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    <form method="post">
        <label asp-for="DeptName"></label><input asp-for="DeptName"/><br />
        <input type="submit" value="update" />
    </form>
</body>
</html>
